<footer class="bg-gray-800 body-font text-white">
    <div
            class="py-3 cursor-pointer bg-gray-700 hover:bg-gray-600 duration-100 text-center"
            id="scrollToTopBtn"
    >
        Back to top
    </div>
    <div class="container px-5 py-10 text-sm mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
        <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium mb-3 text-base">
                    Get to Know Us
                </h2>
                <nav class="list-none mb-10 space-y-2 text-gray-200">
                    <li>
                        <p class="cursor-pointer hover:underline">About Us</p>
                    </li>
                    <li>
                        <p class="cursor-pointer hover:underline">Careers</p>
                    </li>
                    <li>
                        <p class="cursor-pointer hover:underline">Press Releases</p>
                    </li>
                    <li>
                        <p class="cursor-pointer hover:underline">Amazon Science</p>
                    </li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium  text-base mb-3">
                    Connect with Us
                </h2>
                <nav class="list-none mb-10 space-y-2 text-gray-200">
                    <li>
                        <p class="cursor-pointer  hover:underline">Facebook</p>
                    </li>
                    <li>
                        <p class="cursor-pointer  hover:underline">Twitter</p>
                    </li>
                    <li>
                        <p class="cursor-pointer  hover:underline">Instagram</p>
                    </li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium  text-base  mb-3">
                    Make Money with Us
                </h2>
                <nav class="list-none mb-10 space-y-2 text-gray-200">
                    <li>
                        <p class="cursor-pointer hover:underline">Sell on Amazon</p>
                    </li>
                    <li>
                        <p class=" cursor-pointer hover:underline">
                            Sell under Amazon Accelerator
                        </p>
                    </li>
                    <li>
                        <p class=" cursor-pointer hover:underline">
                            Protect and Build Your Brand
                        </p>
                    </li>
                    <li>
                        <p class=" cursor-pointer hover:underline">
                            Amazon Global Selling
                        </p>
                    </li>
                    <li>
                        <p class="cursor-pointer hover:underline">
                            Become an Affiliate
                        </p>
                    </li>
                    <li>
                        <p class="cursor-pointer  hover:underline">
                            Fulfilment by Amazon
                        </p>
                    </li>
                    <li>
                        <p class=" cursor-pointer hover:underline">
                            Advertise Your Products
                        </p>
                    </li>
                    <li>
                        <p class="cursor-pointer  hover:underline">
                            Amazon Pay on Merchants
                        </p>
                    </li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium  text-base  mb-3">
                    Let Us Help You
                </h2>
                <nav class="list-none mb-10 space-y-2 text-gray-200">
                    <li>
                        <p class="cursor-pointer hover:underline">
                            COVID-19 and Amazon
                        </p>
                    </li>
                    <li>
                        <p class="cursor-pointer hover:underline">Your Account</p>
                    </li>
                    <li>
                        <p class="cursor-pointer hover:underline">Returns Centre</p>
                    </li>
                    <li>
                        <p class="cursor-pointer hover:underline">
                            100% Purchase Protection
                        </p>
                    </li>
                    <li>
                        <p class="cursor-pointer hover:underline">
                            Amazon App Download
                        </p>
                    </li>
                    <li>
                        <p class="cursor-pointer hover:underline">Help</p>
                    </li>
                </nav>
            </div>
        </div>
    </div>
    <hr class="border-gray-700"/>
    <div class="space-y-4 p-8">
        <div class="flex gap-5 justify-center items-center sm:gap-16">
            <img class="w-20 mt-1 md:mt-2.5" src="" alt=""/>
            <label class="hidden" for="language"></label><select
                class="border border-gray-500 bg-transparent rounded-sm px-4 py-1.5"
                name="language"
                id="language"
        >
            <option class="text-black p-2" value="English">
                English
            </option>
            <option class="text-black p-2" value="Hindi">
                हिंदी
            </option>
            <option class="text-black p-2" value="Punjabi">
                ਪੰਜਾਬੀ
            </option>
            <option class="text-black p-2" value="Marathi">
                मराठी
            </option>
        </select>
        </div>
        <ul class="flex justify-center items-center gap-y-1 gap-x-4 flex-wrap mx-auto text-xs max-w-4xl">
            <li class="cursor-pointer hover:underline">Australia</li>
            <li class="cursor-pointer hover:underline">Brazil</li>
            <li class="cursor-pointer hover:underline">Canada</li>
            <li class="cursor-pointer hover:underline">China</li>
            <li class="cursor-pointer hover:underline">France</li>
            <li class="cursor-pointer hover:underline">Germany</li>
            <li class="cursor-pointer hover:underline">Italy</li>
            <li class="cursor-pointer hover:underline">Japan</li>
            <li class="cursor-pointer hover:underline">Mexico</li>
            <li class="cursor-pointer hover:underline">Netherlands</li>
            <li class="cursor-pointer hover:underline">Poland</li>
            <li class="cursor-pointer hover:underline">Singapore</li>
            <li class="cursor-pointer hover:underline">Spain</li>
            <li class="cursor-pointer hover:underline">Turkey</li>
            <li class="cursor-pointer hover:underline">
                United Arab Emirates
            </li>
            <li class="cursor-pointer hover:underline">United Kingdom</li>
            <li class="cursor-pointer hover:underline">United States</li>
        </ul>
    </div>
    <div class="bg-gray-900 text-xs p-8">
        <div class=" mx-auto grid align-middle px-6 py-6 grid-cols-2 max-w-xs md:max-w-5xl md:grid-cols-4 gap-4">
            <p class=" nav_a cursor-pointer hover:underline">
                AbeBooks
                <br/>
                <span class="navFooterDescText text-gray-400">
              Books, art
              <br/>
              &amp; collectibles
            </span>
            </p>
            <p class=" nav_a cursor-pointer hover:underline">
                Shopbop
                <br/>
                <span class="navFooterDescText text-gray-400">
              Designer
              <br/>
              Fashion Brands
            </span>
            </p>
            <p class=" nav_a cursor-pointer hover:underline">
                Amazon Web Services
                <br/>
                <span class="navFooterDescText text-gray-400">
              Scalable Cloud
              <br/>
              Computing Services
            </span>
            </p>
            <p class=" nav_a cursor-pointer hover:underline">
                Amazon Business
                <br/>
                <span class="navFooterDescText text-gray-400">
              Everything For
              <br/>
              Your Business
            </span>
            </p>
            <p class=" nav_a cursor-pointer hover:underline">
                Audible
                <br/>
                <span class="navFooterDescText text-gray-400">
              Download
              <br/>
              Audio Books
            </span>
            </p>
            <p class=" nav_a cursor-pointer hover:underline">
                Prime Now
                <br/>
                <span class="navFooterDescText text-gray-400">
              {" "}
              2-Hour Delivery
              <br/>
              on Everyday Items
            </span>
            </p>
            <p class=" nav_a cursor-pointer hover:underline">
                DPReview
                <br/>
                <span class="navFooterDescText text-gray-400">
              Digital
              <br/>
              Photography
            </span>
            </p>
            <p class=" nav_a cursor-pointer hover:underline">
                Amazon Prime Music
                <br/>
                <span class="navFooterDescText text-gray-400">
              100 million songs, ad-free
              <br/>
              Over 15 million podcast episodes{" "}
            </span>
            </p>
            <p class=" nav_a cursor-pointer hover:underline">
                IMDb
                <br/>
                <span class="navFooterDescText text-gray-400">
              Movies, TV
              <br/>
              &amp; Celebrities
            </span>
            </p>
        </div>
        <div class="space-y-1">
            <div class="text-center flex justify-center items-center gap-2 md:gap-4">
                <p class="cursor-pointer hover:underline">
                    Conditions of Use & Sale
                </p>
                <p class="cursor-pointer hover:underline">Privacy Notice</p>
                <p class="cursor-pointer hover:underline">Interest-Based Ads</p>
            </div>
            <p class="text-center">
                © 1996-2023, Amazon.com, Inc. or its affiliates
            </p>
        </div>
    </div>
</footer>

{% block extra_js %}
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const scrollBtn = document.getElementById("scrollToTopBtn");
        if (scrollBtn) {
            scrollBtn.addEventListener("click", function () {
                window.scrollTo({ top: 0, left: 0, behavior: "smooth" });
            });
        }
    });
</script>
{% endblock %}