{% load static %}
{#<ul class="flex items-center gap-4 overflow-auto bg-gray-800 px-4 py-2.5 text-sm whitespace-nowrap 2xl:justify-center 2xl:gap-16">#}
{#        <li class="hamburger-all cursor-pointer hidden md:block">#}
{#          <button#}
{#            class="hamburger cursor-pointer text-xl gap-2 flex items-center"#}
{#            onClick={() => setIsNavOpen((initialValue) => !initialValue)}#}
{#          >#}
{#            <i class="fa-solid fa-bars"></i>#}
{#            <span class="text-sm"> All</span>#}
{#          </button>#}
{#        </li>#}
{#        <li class=" cursor-pointer ">Amazon miniTV</li>#}
{#        <li class=" cursor-pointer ">Sell</li>#}
{#        <li class=" cursor-pointer ">Best Sellers</li>#}
{#        <li class=" cursor-pointer ">{"Today's deals"}</li>#}
{#        <li class=" cursor-pointer ">Mobiles</li>#}
{#        <li class=" cursor-pointer ">New Releases</li>#}
{#        <li class=" cursor-pointer ">Customer Service</li>#}
{#        <li class=" cursor-pointer flex items-center gap-1">#}
{#          Prime <i class="fa-solid fa-sort-down text-xs text-gray-400"></i>#}
{#        </li>#}
{#      </ul>#}
<div id="navbar-lower"></div>

<script defer src="{% static 'js/navbarlower.bundle.js' %}"></script>