<header class="flex flex-col">
    <nav class="min-h-[2.5rem] flex flex-row justify-between items-center w-full bg-black px-4 sm:flex sm:items-center sm:justify-between">
        <div>dfdf</div>
        <div class="text-white">Get 100 dollars</div>
        <div class="flex flex-row items-center gap-5 mt-5 sm:justify-end sm:mt-0 sm:ps-5">
            <button class="text-white">Create an Account</button>
            <div class="border-l border-gray-200 h-[1rem]"></div>
            <button class="text-white">Sign In</button>
        </div>
    </nav>
    <nav class="max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between">
        <a class="flex-none font-semibold text-xl text-black focus:outline-hidden focus:opacity-80 dark:text-white"
           href="#" aria-label="Brand">Brand</a>
        <div class="flex flex-row items-center gap-5 mt-5 sm:justify-end sm:mt-0 sm:ps-5">
            <a class="font-medium text-blue-500 focus:outline-hidden" href="#" aria-current="page">Landing</a>
            <a class="font-medium text-gray-600 hover:text-gray-400 focus:outline-hidden focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500"
               href="#">Account</a>
            <a class="font-medium text-gray-600 hover:text-gray-400 focus:outline-hidden focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500"
               href="#">Work</a>
            <a class="font-medium text-gray-600 hover:text-gray-400 focus:outline-hidden focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500"
               href="#">Blog</a>
        </div>
    </nav>
</header>