{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en" class="{{ request.COOKIES.theme|default:'light' }}">
<head>
    <title>{% block title %}Django React App{% endblock %}</title>

    <script>
        (function () {
            function getCookie(name) {
                let value = "; " + document.cookie;
                let parts = value.split("; " + name + "=");
                if (parts.length === 2) return parts.pop().split(";").shift();
            }

            const theme = getCookie('theme') || 'light';
            const themeColor = getCookie('theme_color') || 'Orange';

            document.documentElement.classList.add(theme);
            window._theme = theme;
            window._themeColor = themeColor;
        })();
    </script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendors.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    {% tailwind_css %}
    <script src="{% static 'js/custom.js' %}"></script>

    {% block extra_css %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
{% block content %}{% endblock %}

<script src="{% static 'js/vendors.bundle.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="{% static 'js/custom.js' %}"></script>

{% block extra_js %}{% endblock %}

<!-- SET THEME COLORS (AFTER JS IS LOADED) -->
<script>
    // Wait until setGlobalColorTheme is defined
    document.addEventListener("DOMContentLoaded", function () {
        if (typeof setGlobalColorTheme === "function") {
            setGlobalColorTheme(window._theme || 'light', window._themeColor || 'Blue');
        }
    });
</script>
</body>
</html>
