{% extends 'layouts/general.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block container %}
<div class="relative max-w-[1500px] mx-auto bg-base-600">
    
    <!-- Navigation Slider -->
    <div id="home-nav-slider"></div>

    <!-- Main Grid Section -->
    <div id="main-grid" class="pt-0 absolute top-[45%] z-10 w-full">
        <div class="p-4">

            <!-- Home 8 Grid -->
            <div id="home-8-grid" class="grid place-items-center gap-4 md:gap-5 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4"></div>

            <!-- Product Sliders -->
            <div id="home-product-slider-one" class="p-5 bg-white my-4"></div>
            <div id="home-product-slider-two" class="p-5 bg-white my-4"></div>
            <div id="home-product-slider-three" class="p-5 bg-white my-4"></div>

            <!-- Ad Banner -->
            <img
                class="object-cover object-center w-full md:w-3/4 my-4 mx-auto"
                src="https://m.media-amazon.com/images/G/31/AMS/IN/970X250-_desktop_banner.jpg"
                alt="ad"
            />

            <!-- Middle 4 Grid -->
            <div id="home-middle-4-grid" class="grid place-items-center gap-4 md:gap-5 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4"></div>

            <!-- Promotional Banner -->
            <div class="md:p-4 my-4 bg-white">
                <img
                    class="cursor-pointer w-full"
                    src="https://images-eu.ssl-images-amazon.com/images/G/31/APAYMOVIE/BAdhaaiDo/DF_1_GWeditorial_2300x646._CB599982488_.jpg"
                    alt="Promo"
                />
            </div>
        </div>

        {% include 'layouts/components/general/footer.html' %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <!-- Load first to render above-the-fold content -->
    <script src="{% static 'js/homeslider.bundle.js' %}"></script>
    <script src="{% static 'js/home8grid.bundle.js' %}"></script>

    <!-- Defer non-critical below-the-fold content -->
    <script src="{% static 'js/homeproductsliderone.bundle.js' %}" defer></script>
    <script src="{% static 'js/homeproductslidertwo.bundle.js' %}" defer></script>
    <script src="{% static 'js/homeproductsliderthree.bundle.js' %}" defer></script>
    <script src="{% static 'js/homemiddle4grid.bundle.js' %}" defer></script>
{% endblock %}
