<div class="flex flex-col justify-between gap-4 p-2 h-full w-full rounded-xl bg-card text-card-foreground shadow-sm border">

    <!-- Card Header -->
    <div class="">
        <h2 class="text-xl font-bold">{{ ui.name }}</h2>
    </div>

    <!-- Card Content -->
    <div class="grid grid-cols-2 gap-4 grow">
        {% for image in ui.config.images %}
            <div class="space-y-2">
                <img src="{{ image.imageUrl }}" alt="{{ image.label|default:'product image' }}" class="w-full object-cover rounded-lg">
                {% if image.label %}
                    <p class="text-sm text-center text-muted-foreground">{{ image.label }}</p>
                {% endif %}
            </div>
        {% empty %}
            <p class="col-span-2 text-center text-sm text-muted-foreground">No images available.</p>
        {% endfor %}
    </div>

    <!-- Card Footer -->
    <div class="">
        {% if ui.dest_url %}
            <a href="{{ ui.dest_url }}" class="text-primary font-medium hover:underline">
                See all
            </a>
        {% else %}
            <p class="text-sm text-muted-foreground">No footer content available.</p>
        {% endif %}
    </div>

</div>
