{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Django React App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/vendors.css' %}">
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}
</head>
<body>
<div id="react-root"></div>

{% block content %}{% endblock %}

<!-- Load React main bundle and vendors -->
<script src="{% static 'js/vendors.bundle.js' %}"></script>
<script src="{% static 'js/main.bundle.js' %}"></script>

{% block extra_js %}{% endblock %}
</body>
</html>
