{% extends 'base.html' %}

{% block page_name %}settings{% endblock %}
{% block title %}Settings{% endblock %}

{% block content %}
  <div class="container">
    <h1>Settings</h1>
    
    <div>This is regular HTML content</div>
    
    <div id="first-component-container">
      <div data-react-component="first-component"></div>
    </div>
    
    <div id="second-component-container">
      <div data-react-component="second-component"></div>
    </div>
    
    <div>This is normal html content div</div>
  </div>
{% endblock %}